body
{
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-origin: content-box;
}

@keyframes body-left {
	0%   {opacity: 0;left: -500px;}
	50%   {opacity: 0;left: -500px;}
	100% {opacity: 0.9;left: 0px;}
  }
  @keyframes body-right {
	  0%   {opacity: 0;right: -500px;}
	  50%   {opacity: 0;right: -500px;}
	  100% {opacity: 0.9;right: 0px}
	}
	@keyframes body-bot {
		0%   {opacity: 0;bottom: -500px;}
		100% {opacity: 0.9;bottom: 0px;}
	  }
	  @keyframes body-top {
		  0%   {opacity: 0;top: -500px;}
		  100% {opacity: 0.9;top: 0px;}
		}


body #mainContentleft a
{
  animation-name:a-nimation;
  animation-duration:2ds;
}
body #mainContentright a
{
  animation-name:a-nimation;
  animation-duration:2ds;
}
body #mainContentbottom a
{
  animation-name:a-nimation;
  animation-duration:2ds;
}
@keyframes a-nimation
{
	0%	{-webkit-backface-visibility: hidden;opacity:0; }
	50%	{-webkit-backface-visibility: visible;opacity:0; }
	75%	{opacity:0.5;}
	100%{opacity:1;}
}
body .mainContent
{
	#padding: 5px 5px 0px 5px;	
	border-color: black;
	border-style: solid;
	color : black;
	opacity : 0.9;
	position:relative;
	box-shadow: 2px 2px 5px black;
	font-size:16px;
}
body #mainContent
{	
	#padding: 5px 5px 0px 5px;
	border-color: black;
	border-style: hidden;
	color : black;
	opacity : 0.9;
	position:relative;
	#box-shadow: 2px 2px 5px black;
	font-size:16px;
}
body #mainContentleft
{	
	#padding: 5px 5px 5px 5px;
	border-color: black;
	border-style: hidden;
	color : black;
	opacity : 0.9;
	position:relative;
	font-size:16px;
	#box-shadow: 2px 2px 5px black;
}
#mainContentleft
{
	animation-name:body-left;
	animation-duration:3s;
}
#mainContentright
{
	animation-name:body-right;
	animation-duration:3s;
}
body #mainContentright
{	
	#padding: 5px 5px 5px 5px;
	border-color: black;
	border-style: hidden;
	color : black;
	opacity : 0.9;
	position:relative;
	#box-shadow: 2px 2px 5px black;
	font-size:16px;
}
body #mainContentbottom
{	
	#padding: 0px 5px 0px 5px;
	border-color: black;
	border-style: hidden;
	color : black;
	opacity : 0.9;
	position:relative;
	#box-shadow: 2px 2px 5px black;
	font-size:16px;
}
#mainContentbottom
{
	animation-name:body-bot;
	animation-duration:2s;
}
#mainContenttop
{
	animation-name:body-top;
	animation-duration:2s;
}
#mainContentbottom img
{
	animation-name:a-nimation;
	animation-duration:2ds;
}
body a
{
	
	font-family: "Helvetica Neue", "Courier New", monospace;
	#margin: 5px 5px 5x 5px;
}

#contact
{	
	width:auto;

	opacity:0.9;
	text-align:left;
	border-radius:10px;
	color:black;
	border-color:black;
	border-style:solid;
	box-shadow: 2px 2px 5px black;
	text-shadow: 0px 1px 2px black;
	position:left;
	font-family: "Lucida Console", "Courier New", monospace;
}

body .contact a
{
margin-left: 5px;

}
body .footer
{
	float:right;

	background-color : black;
	border-color: white;
	border-style: solid;
	border-radius : 10px;
	color : white;
	text-align: center;
	opacity : 0.9;
	position:fixed;
	bottom:0;
	left:25%;
	right:25%;
}

.row 
{

}
a #mainContent
{
	font-size:150%;
}